<div class="row mt-2" *ngIf="item">
    <div class="col">
        <div class="row my-2">
            <div class="col">
                <app-count-down [item]="item"></app-count-down>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" *ngIf="item.images">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let image of item.images">
                        <div class="card shadow">
                            <img *ngIf="image" [src]="image.path" class="img-thumbnail" [alt]="image.id">
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="card-text"><b>Closes at:</b> {{item.close_datetime|date:'medium'}}</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title"><b>Name:</b> {{item.name}}</h5>
                                            <span class="bg-light p-1">
                                                Original Price:
                                                $ {{item.price}}
                                            </span>
                                        </div>
                                        <p class="card-text text-muted"><b>Description:</b> {{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form [formGroup]="bidFormGroup">
                                    <div class="input-group input-group-sm my-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="item-name">Bid Value:</span>
                                        </div>
                                        <input inputNumericDirective formControlName="bidValue" class="form-control"
                                            type="number" [min]="minBidValue" maxlength=12>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex">
                                            <button [ngClass]="item.isClosed() ? 'btn-danger' : 'btn-primary'"
                                                [disabled]="item.isClosed()" class="btn btn-sm" type="submit"
                                                (click)="submitBid()"><b>Submit Bid</b></button>
                                            <form class="m-2" [formGroup]="autoBidFormGroup">
                                                <div class="custom-control custom-checkbox">
                                                    <input (change)="onCheckChange($event)"
                                                        formControlName="enableAutobidding" type="checkbox"
                                                        class="custom-control-input" id="enableAutobidding">
                                                    <label class="custom-control-label" for="enableAutobidding">
                                                        Auto Bid
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                                <div *ngIf="hasError" class="alert alert-danger alert-dismissible fade show m-2"
                                    role="alert">
                                    {{errorMessage}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-scrollable-500">
                        <h4 class="text-muted mx-2">Bid History</h4>
                        <div class="list-group" *ngIf="item.bids">
                            <div *ngFor="let bid of item.bids; let first = first;" class="list-group-item"
                                [ngClass]=" first ? 'shadow my-1 border border-warning' : '' ">
                                <p><b>{{bid.made_by.username }}</b></p>
                                <div class="d-flex justify-content-between">
                                    <small class="text-muted">made bid on {{bid.updated_date | date:'medium'}}</small>
                                    <span [ngClass]=" first ? 'badge-warning' : 'badge-light' "
                                        class="badge badge-pill">$ {{bid.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>